# ---------------------------------- Server -----------------------------------
server.host: {{ server_host }}
server.port: {{ server_port }}

# ------------------------------ Elasticsearch --------------------------------
elasticsearch.hosts: {{ elasticsearch_hosts }}


elasticsearch.sniffInterval: {{ elasticsearch_sniffInterval }}
elasticsearch.sniffOnConnectionFault: {{ elasticsearch_sniffOnConnectionFault }}

# ---------------------------------- Logs ------------------------------------
logging.dest: {{ logging_dest }}